<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://kit.fontawesome.com/48bcbf2c30.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student</title>
    <link rel="stylesheet" href="\css\pfp.css">
<body>
    <header>
        <nav role="navigation">
            <div id="menuToggle">
              <input type="checkbox" />
              <span></span>
              <span></span>
              <span></span>
              <ul id="menu">
                <hr/>
                <a href="/stud"><li>Student</li></a>
                <hr/>
                <a href="/cc"><li>Class Coordinator</li></a>
                <hr/>
                <a href="/hod1"><li>Head Of Department</li></a>
                <hr/>
              </ul>
            </div>
          </nav>
        <div class="info-header">
            K.K. Wagh Institute of Engineering Education & Research (Autonomous)  
            <br>
            <p>Hirabai Haridas Vidyanagri, Amrutdham, Panchavati, Nashik</p>
        </div>
    </header>
    
    <div class="blue-heading2">
    <h1>Welcome</h1>
    </div>
    


</body>
</html>
