<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://kit.fontawesome.com/48bcbf2c30.js" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student</title>
    <link rel="stylesheet" href="/css/granted_cws.css">
    <script type="text/javascript">
        function disableBack() { window.history.forward(); }
        setTimeout("disableBack()", 0);
        window.onunload = function () { null };
        </script>
</head>
<body>
    <header>
        <nav role="navigation">
            <div id="menuToggle">
              <input type="checkbox" />
              <span></span>
              <span></span>
              <span></span>
              <ul id="menu">
                <hr/>
                <a href="/stud"><li>Student</li></a>
                <hr/>
                <a href="/cc"><li>Class Coordinator</li></a>
                <hr/>
                <a href="/hod1"><li>Head Of Department</li></a>
                <hr/>
              </ul>
            </div>
          </nav>
        <div class="info-header">
            K.K. Wagh Institute of Engineering Education & Research (Autonomous) 
            <br>
            <p>Hirabai Haridas Vidyanagri, Amrutdham, Panchavati, Nashik</p>
        </div>
    </header>
    <h1 class="blue-heading">Stud Update Data</h1>
    
    <section class="profile-section" id="studData">
    <table>
        <form action="/studadd" method="post" enctype="multipart/form-data">
      <tbody>
        
        <tr>
            <td id="b">Profile:</td>
            <td><input type="file" id="profile" name="profile" onchange="validateFile(this)" accept=".jpeg,.jpg,.png" required/></td>
            <td id="b">CRN:</td>
            <td><input name="crn" type="number"/></td>
        </tr>
        <tr>
            <td id="b">Roll No:</td>
            <td><input name="roll" type="number"/></td>
            <td id="b">Name:</td>
            <td><input name="name" type="text"/></td>
        </tr>
        <tr>
            <td id="b">Department:</td>
            <td><select id="dept" name="department">
                <option>select</option>
                <option value="CS">CS</option>
                <option value="AI&DS"> AI&DS </option>
                </select></td>
            <td id="b">Class Co-ordinator:</td>
            <td><select id="classroom" name="cc">
                <option>select</option>
                <option value="Prof. Sonali N. Jadhav">Prof. Sonali N. Jadhav</option>
                <option value="Prof. Shweta N. Jadhav">Prof. Shweta N. Jadhav</option>
                </select></td>
                <td id="b">CCRN:</td>
            <td><input name="ccrn" type="text"/></td>
        </tr>
        <tr>
            <td id="b">Class:</td>
            <td><select id="classroom" name="class">
                <option>select</option>
                <option value="F.Y. B.Tech">F.Y. B.Tech</option>
                <option value="S.Y. B.Tech">S.Y. B.Tech</option>
                </select></td>
            <td id="b">Div:</td>
            <td><select id="division" name="div">
                <option>select</option>
                <option value="A">A</option>
                <option value="B">B</option>
                </select></td>
        </tr>
        <tr>
            <td id="b">Mobile:</td>
            <td><input name="mobile" type="number"/></td>
            <td id="b">Email:</td>
            <td><input name="email" type="text"/></td>
        </tr>
        <tr>
            <td id="b">Address:</td>
            <td><input name="address" type="text"/></td>
            <td id="b">Net Attendance:</td>
            <td><input name="netatt" type="float"/></td>
        </tr>
        <tr>
            <td id="b">Theory Attendance:</td>
            <td><input name="thatt" type="float"/></td>
            <td id="b">Practical Attendance:</td>
            <td><input name="pratt" type="float"/></td>
        </tr>
        <tr>
            <td id="b">HOD</td>
            <td><select id="division" name="shod">
                <option>select</option>
                <option value="Dr. Prof. Shirish Sane">Dr. Prof. Shirish Sane</option>
                <option value="Dr. Prof. ABC XYZ">Dr. Prof. ABC XYZ</option>
                </select></td>
            <td id="b">Dean</td>
            <td><input name="sdean" type="text" value="Dr. Prof. Sunil Kute"/></td>
        </tr>
        <tr>
            <td id="b">Admission Year:</td>
            <td><input name="ady" type="number"/></td>
            <td id="b">Password:</td>
            <td><input name="pass" type="password"/></td>
        </tr>
        <tr>
        <td>
            
         <button type="submit" id="up">Add</button>
              
        </td>
    </tr>
      </tbody>
    </form>
    </table>
        </section>
</body>
<script>
  
    function validateFile(input) {
      var fileName = input.value;
      var idxDot = fileName.lastIndexOf('.') + 1;
      var extFile = fileName.substr(idxDot, fileName.length).toLowerCase();
      if (extFile == 'jpeg' || extFile == 'jpg' || extFile == 'png') {
        
      }else{
        alert('Only jpeg, jpg, png files are allowed!');
         // Clear the file input
      }
    }
  </script>
</html>
